html {
  font-family: 'Raleway', sans-serif;
  background-color: #111;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #fff;
  color: #000;
  padding: .5em .75em;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

/** Header CSS **/

h1 {
  font-family: 'Bigshot One', cursive;
}

.h1 {
  font-family: 'Bigshot One', cursive;
  text-decoration: none;
  color: #339999;
}

.footer-logo {
  text-decoration: none;
}

.h1:hover {
  color: #fff;
}

.h1-2 {
  text-decoration: none;
  color: #ffcc66;
}

.h1-2:hover {
  color: #fff;
}

ul a {
  text-decoration: none;
}

h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

header {
  background-color: #111;
}

.sign-up-button {
  color: #ffcc66;
  border: 1px solid #ffcc66;
  border-radius: 5px;
}

nav li a {
  color: #ffcc66;
}

nav li a:hover {
  color: #339999;
}

/** Footer CSS **/

footer {
  background-color: #111;
}

.contact {
  color: #339999;
}

.copyright {
  background-color: #339999;
  color: #fff;
}

/**Front Page Banner CSS**/

.banner {
  background-color: #111;
}

.banner-content {
  background-color: #ffcc66;
  border-radius: 15px;
}

.banner-button {
  color: #339999;
  text-decoration: none;
  border: 2px solid #339999;
  border-radius: 8px;
}

.banner-button:hover {
  color: #fff;
  background-color: #339999;
  border-radius: 10px;
}

/**Front Page Collaboration Software Section 1 CSS**/

.section-1 {
  background-color: #339999;
}

.section-1-card {
  background-color: #ffcc66;
  border-radius: 15px;
}

.collab-button {
  color: #ffcc66;
  text-decoration: none;
  border: 2px solid #ffcc66;
  border-radius: 8px;
}

.collab-button:hover {
  background-color: #ffcc66;
  color: #111;
  border-radius: 10px;
}

.img-1 {
  max-height: 700px;
  overflow: hidden;
}

/**Front Page Get Inspired Section 2 CSS **/

.section-2 {
  background-color: #339999;
}

.section-2-card {
  background-color: #ffcc66;
  border-radius: 15px;
}

.resources-button {
  color: #ffcc66;
  text-decoration: none;
  border: 2px solid #ffcc66;
  border-radius: 8px;
}

.resources-button:hover {
  background-color: #ffcc66;
  color: #111;
  border-radius: 10px;
}

/**Front Page Expanding Section CSS **/

.expanding {
  background-color: #111;
}

.expanding-content {
  background-color: #ffcc66;
  border-radius: 15px;
}

.expanding-button {
  color: #339999;
  text-decoration: none;
  border: 2px solid #339999;
  border-radius: 8px;
}

.expanding-button:hover {
  color: #fff;
  background-color: #339999;
  border-radius: 10px;
}

/**Tour Page Why Use Our Software Section 3 CSS**/

.section-3 {
  background-color: #339999;
}

.section-3-card {
  background-color: #ffcc66;
}

/**Tour Page Blog Section 4 CSS**/

.section-4 {
  background-color: #339999;
}

.section-4-card {
  background-color: #ffcc66;
}

/**Tour Page Search Our Site Section 5 CSS**/

.btn-2 {
  background-color: #ffcc66;
  color: #339999;
  text-decoration: none;
  border: 2px solid #339999;
  border-radius: 8px;
}

.btn-2:hover {
  color: #ffcc66;
  background-color: #339999;
  border-radius: 10px;
  border: 2px solid #339999;
}

/**Tour Page Contact Information Section 6 CSS**/

.section-6 {
  background-color: #339999;
}

.section-6-card {
  background-color: #ffcc66;
}

/**Pricing Page Pricing Table CSS**/

.sign-up {
  background-color: #000000;
}

.sign-up-card {
  background-color: #339999;
}

.btn {
  background-color: #ffcc66;
  color: #339999;
  text-decoration: none;
  border: 2px solid #339999;
  border-radius: 8px;
}

.btn:hover {
  color: #fff;
  background-color: #339999;
  border-radius: 10px;
  border: 2px solid #fff;
}
