html {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Bigshot One', cursive;
  color: #339999;
}

h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

header {
  background-color: #111;
}

.sign-up-button {
  color: #ffcc66;
  border: 1px solid #ffcc66;
  border-radius: 5px;
}

nav li a {
  color: #ffcc66;
}

.banner-content {
  color: #fff;
}

.banner-button {
  color: #ffcc66;
}

.section-1 {
  background-color: #339999;
}

.section-1-card {
  background-color: #ffcc66;
}

.section-2 {
  background-color: #339999;
}

.section-2-card {
  background-color: #ffcc66;
}

footer {
  background-color: #ffcc66;
}

.copyright {
  background-color: #339999;
  color: #fff;
}

.section-3 {
  background-color: #339999;
}

.section-3-card {
  background-color: #ffcc66;
}

.section-4 {
  background-color: #339999;
}

.section-4-card {
  background-color: #ffcc66;
}

.section-5 {
  background-color: #339999;
}

.section-6 {
  background-color: #339999;
}

.section-6-card {
  background-color: #ffcc66;
}

.sign-up {
  background-color: #000000;
}

.sign-up-card {
  background-color: #339999;
}
