html {
  color: #43464e;
  background-color: #e5e5e5;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

.img-flex {
  display: block;
  width: 100%;
}

.logo {
  display: block;
  max-width: 100px;
}

header {
  background-color: #d8d4d3;
  color: #43464e;
}

footer {
  background-color: #d8d4d3;
  color: #43464e;
}

.section-1 {
  background-color: #D5C391;
}

.card {
  background-color: #D5C391;
}
